/*****************************
mobile.css
css specific for mobile
*****************************/

textarea {
	border: none;
	border-bottom: 1px solid #9e9e9e;
	margin-top: 24px;
}

span.browser-default {
	display: none;
}

.ui-loader {
	display: none;
}