<?php
/***********************
dbinfo.inc.php
define user database variables & salt
***********************/

#database generic details
$db_localhost = 'localhost';
$db_username  = 'root';
$db_password  = '';
$db_database  = 'spot';

#salt
$salt         = '';
?>
